.item {
	position: absolute;
}

.item.cut {
	opacity: 0.5;
}

.item.collapsed .children {
	display: none;
}

.content {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	min-width: 100px;
}
.content.saved {
	min-height: 98px;
	min-width: 210px;
}
.content a {
	display: block;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-size: 12px;
}
.content img {
	position: absolute;
	top: 3px;
	right: 3px;
  width: 50px;
}
.content > * {
	vertical-align: middle;
}

.text {
	display: inline-block;
	text-align: center;
	min-width: 0.5em;
	min-height: 1.3em;
	line-height: 1.3em;
	outline: none;
}

.value, .status {
	margin-right: 0.2em;
}

.text ~ .value, .text ~ .status {
	margin-left: 0.2em;
	margin-right: 0;
}

.value {
	opacity: 0.7;
}

.value:not(:empty):before {
	content: "(";
}

.value:not(:empty):after {
	content: ")";
}

.status {
	font-size: 150%;
	line-height: 0.8;
}

.status.yes:after {
	content: "✔";
	color: #0f0;
}

.status.no:after {
	content: "✘";
	color: #f00;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.toggle {
	position: absolute;
	width: 12px;
	height: 12px;
	line-height: 12px;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #00f;
	background-color: #88f;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	color: #fff;
	opacity: 0.7;
}
.add {
	position: absolute;
	line-height: 12px;
	cursor: pointer;
	border: 1px solid #C9C9C9;
	background-color: white;
	text-align: left;
	font-weight: bold;
	font-family: sans-serif;
	color: black;
	opacity: 1;
}
.add.disabled {
	display: none;
}

.add input, .add button, .add a {
	display: none;
	margin:  8px;
}

.add.active input, .add.active button, .add.active a {
	display: block;
}

.add.active input {
  height: 25px;
  border-radius: 3px;
  border: 1px solid #C9C9C9;
  padding-left: 6px;
}

.add.active button {
    float: right;
    background: #6C6CFF;
    color: white;
    border: 0;
    padding: 4px 6px;
    border-radius: 3px;
}

.add:before {
	content: "+";
}

.add.active:before {
	content: "";
}

.add:hover {
	-webkit-tranform: rotate(90deg);
}

.toggle:hover {
	opacity: 1;
}

.toggle:before {
	content: "−";
}

.collapsed > .toggle:before {
	content: "+";
}

:not(.current):not(.collapsed) > .toggle {
	/* NOT display:none - we need to have non-zero dimensions for layouting */
	visibility: hidden;
}
